body {
    background-image: url(../images/BinaryGif.gif);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgb(255, 255, 255, .5);
    color:black;
    width: 100%;
    height: 80px;

}

a {
    padding: 26px 20px;
    color: black;
    font-size: 24px;
    top: 0px;
    display: inline;
    float: right;
    text-decoration: none;
}

#name {
    background-color: rgba(0, 255, 191, 0.5);
    font-size: 32px;
    padding: 20px 20px;
    position: absolute;
    left: 11.5%;
    margin: 0;
    vertical-align: middle;
    font-family: 'Berkshire Swash', cursive;
}

#about-link {
    right: 450px;
}

a:hover{
    background-color: rgba(0, 255, 191, 0.5);
}

#contact-link {
    right: 13%;
    border-right: 1px solid rgb(255, 255, 255, .5);
}

#portfolio-link {
    right: 320px;
    border-right: 1px solid rgb(255, 255, 255, .5);
}

.main {
    background-color: rgb(255, 255, 255, .5);
    width: 75%;
    height: 50%;
    padding: 20px 20px;
    margin: 100px auto 0 auto;
    position: relative;
}

#prof-pic {
    opacity: .75;
}

#main-header {
    border-bottom: 1px solid rgb(255, 255, 255, .5);
}

#prof-description {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 425px;
}

p {
    font-size: 24px;
}

input {
    width: 100%;
}

#mess-input {
    height: 100px;
}

button {
    background-color: rgba(0, 255, 191, 0.5);
    border:none;
    width: 100px;
    height:50px;
    margin: 10px;
}

.portfolio-pic {
    margin: 20px;
    width: 200px;
    height: 200px;
}

.container {
    position: relative;
    display: inline;
}

.port-imag-label {
    position: absolute;
    width: 200px;
    height: 200%;
    bottom: 20%;
    left: 20px;
    background-color: rgba(0, 255, 191, 0.75);
    text-align: center;
}

